<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Clarity Media Group Contact</title>
  <link rel="icon" type="image/png" href="images/favicon.io">
  <link rel="apple-touch-icon" href="images/clarity-apple-touch-icon.png">
  <meta name="description" content =
  "An audio and media contractor based in Portland, Oregon, Clarity Media Group specializes in the design and installation of audio, video, and lighting systems for churches, concert halls, night clubs, and corporate offices."
  name="description">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial scale=1.0" name="viewport">
  <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
  <link rel="stylesheet" type="text/css" href="css/slick.css"/>


  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/contact.css" rel="stylesheet">
  <link href="css/myStyle.css" rel="stylesheet">
</head>
<body>
  <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PKJ28D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PKJ28D');</script>
<!-- End Google Tag Manager -->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#clarityNavBar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        Clarity Media Group
        <!-- <img alt="Brand" src="images/CM-logoSmall.png" alt="clarity media group logo"> -->
      </a>
      <!-- <a class="navbar-brand" href="/"><span itemprop="name">Clarity Media Group</span></a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="clarityNavBar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href='http://localhost:2368/' target="_blank">Project Blog</a></li>
        <li class="active"><a href="/contact">Contact<span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--mobile look-->
<!-- Place somewhere in the <body> of your page -->
<div class="container">
  <div class="row">
    <div class="col-xs-12" id="contactClarityBox">
      <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2> Contact Clarity Media Group</h2>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <form id="contactform"  method="POST">
          <div class="row form-group">
            <div class="col-xs-6 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" name="first_name" placeholder="First Name" class="form-control">
              </div>
          </div>
          <div class="form-group">
              <div class="col-xs-6 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" name="last_name" placeholder="Last Name" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
              <div class="col-xs-6 inputGroupContainer">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input type="email" name="_replyto" placeholder="email" class="form-control"/>
              </div>
            </div>
        <div class="form-group">
              <div class="col-xs-6 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                <input name="phone" placeholder="(111) 555-2222" class="form-control" type="text">
              </div>
              </div>
        </div>
      </div>
      <div class="row form-group">
            <div class="col-xs-12 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input name="address" placeholder="Address" class="form-control" type="text">
            </div>
          </div>
      </div>
      <div class="row form-group">
            <div class="col-xs-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input name="city" placeholder="city" class="form-control"  type="text">
            </div>
            </div>
            <div class="col-md-4 selectContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                  <select name="state" class="form-control selectpicker" >
                    <option value=" ">State</option>
                    <option>Alabama</option>
                    <option>Alaska</option>
                    <option >Arizona</option>
                    <option >Arkansas</option>
                    <option >California</option>
                    <option >Colorado</option>
                    <option >Connecticut</option>
                    <option >Delaware</option>
                    <option >District of Columbia</option>
                    <option> Florida</option>
                    <option >Georgia</option>
                    <option >Hawaii</option>
                    <option >Idaho</option>
                    <option >Illinois</option>
                    <option >Indiana</option>
                    <option >Iowa</option>
                    <option> Kansas</option>
                    <option >Kentucky</option>
                    <option >Louisiana</option>
                    <option>Maine</option>
                    <option >Maryland</option>
                    <option> Mass</option>
                    <option >Michigan</option>
                    <option >Minnesota</option>
                    <option>Mississippi</option>
                    <option>Missouri</option>
                    <option>Montana</option>
                    <option>Nebraska</option>
                    <option>Nevada</option>
                    <option>New Hampshire</option>
                    <option>New Jersey</option>
                    <option>New Mexico</option>
                    <option>New York</option>
                    <option>North Carolina</option>
                    <option>North Dakota</option>
                    <option>Ohio</option>
                    <option>Oklahoma</option>
                    <option>Oregon</option>
                    <option>Pennsylvania</option>
                    <option>Rhode Island</option>
                    <option>South Carolina</option>
                    <option>South Dakota</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option> Uttah</option>
                    <option>Vermont</option>
                    <option>Virginia</option>
                    <option >Washington</option>
                    <option >West Virginia</option>
                    <option>Wisconsin</option>
                    <option >Wyoming</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4 inputGroupContainer">
                  <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                      <input name="zip" placeholder="Zip Code" class="form-control"  type="text">
                  </div>
            </div>
          </div>
        </div>
        <input type="text" name="_gotcha" style="display:none" />
        <div class="row form-group">
              <div class="col-sm-12 inputGroupContainer">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                  <textarea class="form-control" name="comment" placeholder="Your Message"></textarea>
                </div>
              </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-2">
              <input type="submit" class="btn btn-danger" value="Send">
            </div>
        </div>
      </form>
    </div>
    <!-- end contact form -->
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-xs-3">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <div class="col-xs-8">
          <h4>Contact Clarity Media Group by Phone</h4>
          <h4><a href="tel:503-534-3710">503-534-3710</a></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="col-xs-8">
          <h4>Clarity Media Group Mailing Address</h4>
          <p>4800 SW Meadows Rd Suite 300 <br><span itemprop="addressLocality"> Lake Oswego, OR</span><span itemprop="postalCode"> 97035</span></a></span>
          </div></p>
        </div>

      </div>
    </div>


  </div>
    <div class="copyright">
      &copy; 2016 All Rights Reserved <br><a href="http://wendygoodwin.io" target="_blank">Wendy J Goodwin Creative</a>
    </div>
  </div>


  <script src=
  "https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/72369b7e66.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/home.js"></script>
</body>
</html>
