<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Clarity Media Group</title>
  <link rel="icon" type="image/png" href="images/favicon.io">
  <link rel="apple-touch-icon" href="images/clarity-apple-touch-icon.png">
  <meta name="description" content =
  "An audio and media contractor based in Portland, Oregon, Clarity Media Group specializes in the design and installation of audio, video, and lighting systems for churches, concert halls, night clubs, and corporate offices."
  name="description">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial scale=1.0" name="viewport">
  <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
  <!--Flexslider-->
  <link rel="stylesheet" href="css/flexslider.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/myStyle.css" rel="stylesheet">
<body>
  <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PKJ28D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PKJ28D');</script>
<!-- End Google Tag Manager -->


<div itemscope itemtype="http://http://schema.org/Organization">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#clarityNavBar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span itemprop="name">Clarity Media Group</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="clarityNavBar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--mobile look-->
<div class="jumbotron mobileJumbo">
  <a href="/"><span itemprop="logo"><img class="topLogo" src="images/CM-logo.png" alt="Clarity Media Logo"></span>
  </a>
  <div class="list-group mobileHomeNav">

    <a href="/services" class="list-group-item colorOne" >Services</a>
    <a href="/projects" class="list-group-item colorTwo" id="colorTwo">Projects</a>
    <a href="/contact" class="list-group-item colorThree">Contact Us</a>
  </div>

    <span itemprop="description"><p id="promo"> An audio and media contractor based in Portland, Oregon. <span itemprop="name">Clarity Media Group </span><span itemprop="description">specializes in the design and installation of audio, video, and lighting systems for churches, concert halls, night clubs and corporate offices.</span></p>
    <p class="noShowText" id="moreClarityInfo">We use state of the art performance-predicting software, the industry&rsquo;s most innovative products, and the finest equipment and services to ensure that our customer’s expectations are met, and the project is completed on time and on budget.<button class="btn btn-md btnClose" id="closeButton">Close</button></p>
    <button class="btn btn-md btnLearn" id="learnMoreButton" >Learn More</button>

  <div class="list-group mobileHomeNav">
    <span itemprop="makesOffer"><a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal" id="blackCall">Schedule your free consultation</a></span>
    <!-- modal contact -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></h4>
      </div>
      <div class="modal-body">
        <div id="wufoo-rpt7nvj038kxrs">
          Fill out my <a href="https://wendycodes.wufoo.com/forms/rpt7nvj038kxrs">online form</a>.
          </div>
          <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Online contact and registration forms from <a href="http://www.wufoo.com">Wufoo</a>.</div>
          <script type="text/javascript">var rpt7nvj038kxrs;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'wendycodes',
          'formHash':'rpt7nvj038kxrs',
          'autoResize':true,
          'height':'849',
          'async':true,
          'host':'wufoo.com',
          'header':'show',
          'ssl':true};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { rpt7nvj038kxrs = new WufooForm();rpt7nvj038kxrs.initialize(options);rpt7nvj038kxrs.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');</script>
      </div>
    </div>
  </div>
</div>
<!-- end wufoo form and modal -->
    <a href="#" class="list-group-item mobileFeatureImage"><img src="images/homeSlider/Tulalip_concert_stage-2.jpg" alt="Tulalip Concert Stage"></a>
    <a href="#" class="list-group-item" id="address"><span itemprop="streetAddress">4800 SW Meadows Rd Suite 300 <br></span><span itemprop="addressLocality"> Lake Oswego, OR</span><span itemprop="postalCode"> 97035</span></a>
    <a href="tel:5035343710" class="list-group-item" id="phone"><span itemprop="telephone">(503) 534-3710</span></a>
  </div>
  <div class="footer">
    <div class="copyright">
      &copy; 2016 All Rights Reserved <br> Wendy J Goodwin Creative
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="flex-container row">
    <div class="col-sm-12 col-lg-4">
      <div class="thumbnail brand">
        <img src="images/CM-logo.png" alt="Clarity Media Group logo">
        <div class="caption">
          <h4>Precision, Quality, Intregrity</h4>
          <p>Clarity Media Group is an audio and media contractor based in Portland, Oregon. We specialize in the design and installation of audio, video, and lighting systems for churches, concert halls, night clubs and corporate offices.<br>We use state of the art performance-predicting software, the industry&rsquo;s most innovative products, and the finest equipment and services to ensure that our customer&rsquo;s expectations are met, and the project is completed on time and on budget.</p>
        </div>
      </div>
    </div>
    <div class="flexslider col-xs-12 col-lg-8">
      <ul class="slides">
        <li>
          <a href="#"><img src="images/homeSlider/tulalip_lounge2.jpg" alt="Tulalip lounge"></a>
        </li>
        <li>
          <a href="#"><img src="images/homeSlider/stage.jpg" alt="Tulalip lounge"></a>
        </li>
        <li>
          <a href="#"><img src="images/homeSlider/console-2a.jpg" alt="sample console Dome"></a>
        </li>
        <li>
          <a href="#"><img src="images/homeSlider/Tulalip_concert_stage-2.jpg" alt="Tulalip Casino Stage"></a>
        </li>
      </ul>
    </div>

  </div>
  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <a href="http://nexo-sa.com/en/" target="blank"><img class="gearLogos" src="images/nexoImageSm.jpg" alt="nexo official image"></a>
          </div>
          <div class="col-sm-6 col-md-3">
            <img img class="gearLogos" src="images/yamahaImage3.png" alt="yamaha official image">
          </div>
          <div class="col-sm-6 col-md-3">
            <a href="http://nexo-sa.com/en/" target="blank"><img class="gearLogos" src="images/planarLogo.png" alt="planar official image"></a>
          </div>
          <div class="col-sm-6 col-md-3">
            <a href="http://nexo-sa.com/en/" target="blank"><img class="gearLogos" src="images/shureLogo.jpg" alt="Shure official image"></a>
          </div>
        </div>
        <div class="caption">
          <h4>An Authorized Dealer</h4>
          <p>Clarity Media Group is an authorized dealer for the industry&rsquo;s top gear including Yamaha, NEXO, Planar and Shure products.  Many companies such as Yamaha only guarantee their warranty if their products are purchased from an authorized dealer.  Our goal is to provide the finest equipment and services while maintaining a commitment to deliver your project on time and on budget.</p>

        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">

        <div class="caption">
          <h4>...</h4>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>


  </div>
</div>



  <script src=
  "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  </script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/home.js"></script>
  <script src="javascripts/jquery.flexslider.js"></script>
</body>
</html>
