<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Clarity Media Group</title>
  <link rel="icon" type="image/png" href="images/favicon.io">
  <link rel="apple-touch-icon" href="images/clarity-apple-touch-icon.png">
  <meta name="description" content =
  "An audio and media contractor based in Portland, Oregon, Clarity Media Group specializes in the design and installation of audio, video, and lighting systems for churches, concert halls, night clubs, and corporate offices."
  name="description">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial scale=1.0" name="viewport">
  <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
  <!--Flexslider-->
  <link rel="stylesheet" href="css/flexslider.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/myStyle.css" rel="stylesheet">
<body>
  <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PKJ28D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PKJ28D');</script>
<!-- End Google Tag Manager -->


<div itemscope itemtype="http://http://schema.org/Organization">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#clarityNavBar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span itemprop="name">Clarity Media Group</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="clarityNavBar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--mobile look-->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <a href="/"><span itemprop="logo"><img class="topLogo" src="images/CM-logo.png" alt="Clarity Media Logo"></span>
      </a>
      <span itemprop="description"><p id="promo"> An audio and media contractor based in Portland, Oregon. <span itemprop="name">Clarity Media Group </span><span itemprop="description">specializes in the design and installation of audio, video, and lighting systems for churches, concert halls, night clubs and corporate offices.  We use state of the art performance-predicting software, the industry&rsquo;s most innovative products, and the finest equipment and services to ensure that our customer’s expectations are met, and the project is completed on time and on budget.</span></p>
      <div class="list-group mobileHomeNav">
          <a href="/services" class="list-group-item colorOne" >Services</a>
          <a href="/projects" class="list-group-item colorTwo" id="colorTwo">Projects</a>
          <a href="/contact" class="list-group-item colorThree">Contact Us</a>
      </div>
    </div>

    <div class="col-sm-12 col-md-8">
      <a href="#" class="mobileFeatureImage"><img src="images/homeSlider/Tulalip_concert_stage-2.jpg" alt="Tulalip Concert Stage"></a>
      <p class="dealerDescription">As an authorized dealer for <a href="http://nexo-sa.com/en/" target="_blank"> <strong>Nexo</strong></a>, <a href="https://yamahacommercialaudiosystems.com/" target="_blank"><strong>Yamaha</strong></a>, <a href="http://www.shure.com/americas" target="_blank"><strong>Shure</strong></a>, <a href="http://www.planar.com/" target="_blank"><strong>Planar</strong></a> and more, Clarity Media Group's designers are knowledgeable professionals, qualified to assist you in selecting the equipment that is right for you and to instruct you in its proper installation, set-up and care.</p>

    <ul class="brandIcons">
      <li><a href="http://nexo-sa.com/en/" target="_blank"><img src="images/nexoImageSm.jpg" alt="Nexo Logo"></a></li>
      <li><a href="https://yamahacommercialaudiosystems.com/" target="_blank"><img src="images/yamahaImage3.png" alt="Yamaha Logo"></a></li>
      <li><a href="http://www.shure.com/americas" target="_blank"><img src="images/shureLogo.jpg" alt="Shure Logo"></a></li>
      <li><a href="http://www.planar.com/" target="_blank"><img src="images/planarLogo.png" alt="Planar Logo"></a></li>
    </ul>
    </div>
  </div>

  <div class="footer">
    <div id="phone"><a href="tel:5035343710"><span itemprop="telephone">(503) 534-3710</span></a>
    </div>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">

    <div id="address"><a href="https://www.google.com/maps/place/Clarity+Media+Group/@45.4168483,-122.7280691,17z/data=!3m1!4b1!4m2!3m1!1s0x5495733a0c561bf5:0x23a4d18421aae40d" target="_blank"><br><span itemprop="streetAddress">
      4800 SW Meadows Rd Suite 300 <br><span itemprop="addressLocality"> Lake Oswego, OR</span><span itemprop="postalCode"> 97035</span></a></span>
    </div>
    <div class="copyright">
      &copy; 2016 All Rights Reserved <br> Wendy J Goodwin Creative
    </div>
  </div>
</div>
</div>



  <script src=
  "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  </script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/home.js"></script>
  <script src="javascripts/jquery.flexslider.js"></script>
</body>
</html>
