<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Clarity Media Group Projects</title>
  <link rel="icon" type="image/png" href="images/favicon.io">
  <link rel="apple-touch-icon" href="images/clarity-apple-touch-icon.png">
  <meta name="description" content =
  "An audio and media contractor based in Portland, Oregon, Clarity Media Group specializes in the design and installation of audio, video, and lighting systems for churches, concert halls, night clubs, and corporate offices."
  name="description">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial scale=1.0" name="viewport">
  <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
  <!--Flexslider-->
  <link rel="stylesheet" href="css/flexslider.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/myStyle.css" rel="stylesheet">
  <link href="css/projects.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#clarityNavBar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span itemprop="name">Clarity Media Group</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="clarityNavBar">
          <ul class="nav navbar-nav">
            <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="/services">Services</a></li>
            <li class="active"><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2>Explore Clarity Media Group&lsquo;s Recent Projects</h2>
      </div>
      <div class="col-xs-12 col-md-6">
        <form class="navbar-form navbar-left" role="search">
       <div class="form-group">
         <input type="text" class="form-control" placeholder="Search Projects">
       </div>
       <button type="submit" class="btn btn-default">Submit</button>
     </form>
      </div>
    </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" class="projectsAccordion" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h3>High End Sound With Low Visual Impact</h3>
                <h4>Tulalip Casino Resort, Tulalip, Washington</h4>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <p>The Destinations Lounge at Tulalip Casino Resort in Tulalip, Washington required a simple, easy to operate system with uniform, high quality sound. To maintain the atmosphere in the lounge the sound system also needed to have a very low visual impact.</p>
                <ul class="projectsList">
                  <li>High end sound</li>
                  <li>Uniform stereo at every seat</li>
                  <li>Very low visual impact</li>
                  <li>Simple easy operation</li>
                </ul>
                <h4>Destinations Lounge at Tulalip Resort &#40;2013&#41;</h4>
                <p>The challenge on this project was to provide superior, uniform high end sound throughout the space with minimal visual impact and without the need for an experienced audio engineer to run the system. Fortunately, The Yamaha Commercial Installed Solutions (CIS) product line was created specifically for situations like this where there may not be an experienced audio operator running the system.</p>
                <p>
                &quot;We knew that this system needed to be high end and sound crystal clear at all listening levels, while maintaining the aesthetics of the space,&quot; states Aaron Jackson, Audio Visual Technical Engineer, at Tulalip Casino.</p>
                <p>The wide dispersion of the Yamaha CIS speakers allowed this to be accomplished without cluttering the ceiling with a lot of speakers. Surface mounted speakers were used for the entry and placed between suspended ceiling panels. The Yamaha speakers are compact enough to be completely hidden, offering pleasing sound with a very low visual impact.</p>
                <p>&quot;Our Destinations Lounge system sounds amazing through the entire spectrum and has beautifully uniform coverage in every seat. We have come to expect that when we buy a Yamaha product; it’s going to work, it’s going to look great, and it’s going to sound amazing. Bottom line for us is, Yamaha has struck the perfect balance of price and quality.&quot; Aaron Jackson, Audio Visual Technical Engineer, at Tulalip Casino.</p>
                <img class="img-responsive" src="images/thumbnails/tulalip_thumbnail.jpg" alt="Tulalip Casino">
                <h4>Equipment Installed</h4>
                <ul class="projectsList">
                  <li><a href="http://www.yamahaproaudio.com/global/en/products/processors/mtx/" target="_blank">&#40;1&#41; MTX3 processor</a></li>
                  <li><a href="http://www.yamahaproaudio.com/global/en/products/poweramps/xmv/lineup.jsp" target="_blank">&#40;2&#41; XMV4280 amplifiers</a></li>
                  <li><a href="http://www.yamahaproaudio.com/global/en/products/speakers/vxs/specifications.jsp" target="_blank">&#40;6&#41; VXS8 speakers</a></li>
                  <li><a href="http://www.yamahaproaudio.com/global/en/products/speakers/vxc/lineup.jsp" target="_blank">&#40;16&#41; VXC8W speakers</a></li>
                  <li><a href="http://www.yamahaproaudio.com/global/en/products/speakers/vxs/specifications.jsp" target="_blank">&#40;2&#41; VXS10SW subs</a></li>
                </ul>
              </div>
            </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" class="projectsAccordion" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h3>Multiple Venue Campus</h3>
                <h4>Oak Hills Church, San Antonio, Texas</h4>
                <h5>200, 500, 1880 Seats</h5>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <p>Does one size fit all? Of course not! That is why Clarity Media Group designed custom solutions for each of the venues at Oak Hills.</p>
              <ul class="projectsList">
                <li>200 seat space</li>
                <li>1800 seat multi-purpose room</li>
                <li>500 seat with uniform sound level challenge</li>
              </ul>
              <h4>1800 Seat Multi-purpose Room &#45;Crown Ridge &#40;2008&#41;</h4>
              <p>The challenge on this project was that because the room was multi-propose the acoustics were far from ideal. However, with careful design, computer modeling, and the Nexo 1230 speakers Clarity Media Group was able to design a system that resulted in a +/-1db sound level throughout the space.</p>
              <h4>Equipment Installed</h4>
              <ul class="projectsList">
                <li><a href="http://nexo-sa.com/en/products/14/geo-s1210/" target="_blank">&#40;12&#41; Nexo 1210</a></li>
                <li><a href="http://nexo-sa.com/en/products/9/cd18/" target="_blank">&#40;2&#41; CD-18 Subs</a></li>
                <li><a href="http://nexo-sa.com/en/products/27/ps15-r2/" target="_blank">&#40;2&#41; PS-15</a></li>
                <li><a href="http://www.yamahacommercialaudiosystems.com/product_detail.php?prodID=1039" target="_blank">Yamaha T5N amps with digital processing done by the Nexo NX-242</a></li>
              </ul>
              <h4>500 Seat Uniform SPL &#45;North Central Campus &#40;2010&#41;</h4>
              <p>The challenge on this project was similar to the challenge with the multi-purpose room - how to get as uniform SPL as possible.</p>
              <h4>Equipment Installed</h4>
              <ul class="projectsList">
                <li><a href="http://www.yamahaproaudio.com/global/en/products/mixers/ls9/" target="_blank">&#40;1&#41; Yamaha LS9-32</a></li>
                <li><a href="http://nexo-sa.com/en/products/24/ps10-r2/" target="_blank">&#40;1&#41; Nexo PS-10</a></li>
                <li><a href="http://www.garedunord.ch/fileadmin/user_upload/docs/technik/LS500.pdf" target="_blank">&#40;1&#41; Nexo LS500 Sub</a></li>
                <li><a href="http://usa.yamaha.com/products/live_sound/speakers/passive_speakers/concert_club_vc_series/cm10v/?mode=model" target="_blank">&#40;1&#41; Yamaha CM10 Monitors</a></li>
                <li><a href="http://www.aviom.com/AviomProducts/A-16II-Personal-Mixer.php" target="_blank">&#40;1&#41; Aviom Personal Monitor System</a></li>
                <li><a href="http://jands.com/vista/vista-m1-control-surface/" target="_blank">&#40;1&#41; Lighting System&#45;a Jands Vista M1 was used to control all the optipars and LED lighting fixtures</a></li>
              </ul>
              <h4>200 Seat Space&#45; Crown Ridge Auxilary Room &#40;2010&#41;</h4>
              <p>The challenge was to come up with a sound system appropriate to a small space. Previously the room just had some speakers mounted on a pole. The new equipment speakers are <a href="http://www.toaelectronics.com/spk0027.asp" target="_blank">Toa HX-5.</a></p>
            </div>
          </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h3>Volunteer Friendly Digital Console</h3>
                <h4>Elim Romanian Church of God, Hollywood, Florida</h4>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <p>Many churches rely almost exclusively on volunteers to run the sound system including <a href="http://elimfl.org/en/" target="_blank">Elim Romanian Church of God Hollywood, Florida.</a> Is it possible to have a state of the art sound system that even volunteers can easily user&#63;</p>
              <p>Absolutely&#33; One of the strengths of Clarity Media Group is our long history of mentoring church sound technicians including volunteers. Over the years we have developed a clear understanding of what is reasonable to expect a volunteer to be able to master. With the advent of digital consoles, you can have a standard setup saved so even if everything gets messed up you can always reset it back to a known condition.</p>
              <ul class="projectsList">
                <li>&#40;2&#41;<a href="http://nexo-sa.com/en/products/27/ps15-r2/" taret="_blank">Nexo PS-15</a></li>
                <li>&#40;1&#41;<a href="http://www.yamahaproaudio.com/global/en/products/mixers/ls9/" taret="_blank">Yamaha LS9-32</a></li>
              </ul>
            </div>
          </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" class="projectsAccordion" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <h3>Church with Networked CAT5 Control</h3>
                <h4>Bethany Romanian Church, Chicago, Illinois&#58;</h4>
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <p>A complete makeover / upgrade of the system including console, speakers, mics and amps for <a href="http://bethanynewsite.com/index.php?option=com_content&view=frontpage&id=424&Itemid=485" target="_blank"> Bethany Romanian Church in Chicago.</a></p>
              <h4>Key Features</h4>
              <ul class="projectsList">
                <li>The monitor speaker system is a combination of Yamaha IF-2108 and IF-2208</li>
                <li>Using the new MyMix monitoring system, musicians are able to record the practice on a standard SD card and take it home to rehearse the songs palying along with the other instruments.</li>
                <li>A single piece of Cat5 cable controls 56 input channels and 32 output channels.</li>
                <li>To provide superior micing of the choir, Audix M1255B high gain choir mics were suspended from the ceiling.</li>
                <li>To blend in with the background, all the speakers were custom ordered in white.</li>
              </ul>
              <h4>Equipment Installed</h4>
              <ul class="projectsList">
                <li><a href="http://www.yamahacommercialaudiosystems.com/product_detail.php?prodID=1014" target="_blank">&#40;1&#41; Yamaha M7CL-ES console</a></li>
                <li><a href="http://www.yamahacommercialaudiosystems.com/product_detail.php?prodID=1055" target="_blank">&#40;10&#41; Nexo Geo-s805 line array</a></li>
                <li><a href="http://www.yamahacommercialaudiosystems.com/product_detail.php?prodID=1055" target="_blank">&#40;2&#41;Nexo Geo-s830 line array</a></li>
                <li><a href="http://www.yamahacommercialaudiosystems.com/product_detail.php?prodID=1112" target="_blank">&#40;2&#41; Nexo CD-12 subs</a></li>
                <li><a href="http://www.yamahacommercialaudiosystems.com/product_detail.php?prodID=1058" target="_blank">&#40;2&#41; Nexo PS-10</a></li>
                <li><a href="http://www.yamahacommercialaudiosystems.com/product_detail.php?prodID=1058" target="_blank">&#40;4&#41; Nexo PS-8</a></li>
                <li>The main PA was powered by &#40;1&#41;<a href="http://nexo-sa.com/en/systems/nxamp/technology/a" target="_blank">Nexo 4x4 amp</a> and &#40;1&#41;Nexo 4x1 amp</li>
                <li><a href="http://www.audixusa.com/docs_12/units/M1255B.shtml" target="_blank">&#40;20&#41; Audix M1255Bmics</a></li>
                <li><a href="http://www.shure.com/americas/products/wireless-systems/slx-systems" target="_blank">&#40;13&#41; channels Shur SLX Wireless</a></li>

              </ul>
          </div>
        </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <h3>7000 Seats on Three Levels</h3>
              <h4>Alamo Dome Illusions Theatre, San Antonio, Texas</h4>
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body">
            <p><a href="http://www.alamodome.com/alamodome-information/illusions-theatre" target="_blank">The Alamo Dome Illusions Theatre</a> presented a unique challenge: how can you cover a seating area of 7,000 people on three levels with high fidelity and uniform sound&#63;</p>
            <p>The answer is a NEXO line array.</p>
            <h4>The system consists of&#58;</h4>
            <ul class="projectsList">
              <li>&#40;10&#41;<a href="" taret="_blank">Nexo Geo S-1210</a></li>
              <li>&#40;2&#41;<a href="" taret="_blank">Nexo Geo S-1230</a></li>
              <li>&#40;8&#41;<a href="" taret="_blank">PS-10</a></li>
              <li>&#40;3&#41;<a href="" taret="_blank">Nexo 4x4 amps</a></li>
            </ul>
            <p>The result is a system with more than enough power to handle just about any performance without any seat being too loud or too soft.</p>


          </div>
        </div>
      </div>

      </div>
    </div>
  </div>






  <script src=
  "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  </script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/home.js"></script>
</body>
</html>
