<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Clarity Media Group</title>
  <link rel="icon" type="image/png" href="images/favicon.io">
  <link rel="apple-touch-icon" href="images/clarity-apple-touch-icon.png">
  <meta name="description" content =
  "An audio and media contractor based in Portland, Oregon, Clarity Media Group specializes in the design and installation of audio, video, and lighting systems for churches, concert halls, night clubs, and corporate offices."
  name="description">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial scale=1.0" name="viewport">
  <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
  <!--Flexslider-->
  <link rel="stylesheet" href="css/flexslider.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/myStyle.css" rel="stylesheet">
  <link href="css/services.css" rel="stylesheet">
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#clarityNavBar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span itemprop="name">Clarity Media Group</span></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="clarityNavBar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="/services">Services</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


      <div class="container service-content">
        <div class="row">
          <div class="col-xs-12 col-md-6" itemscope itemtype="http://schema.org/Offer">
            <h2>Consultation </h2>
            <p class="consultationText"><span itemprop="description">Our design consultants take the time to know our customers needs and wants. From start to finish customer concerns come first. The consultation period is the beginning of a long term relationship.</span></p>
            <p id="vidCaption">Clarity Media Group&rsquo;s consultants are respected contributors to the audio and media industry.  Click below to watch Travis Cibolski of Clarity Media Group chat with <a href="http://www.audixusa.com/index-15.shtml" target ="_blank">Audix Microphones</a> Engineer Dean K about choir micing basics.<br><br>
            <button type="button" class="btn btn-default"     id="choirVidButton" aria-label="Left Align">Watch Now
            </button></p>

            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9" id="choirVideo">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NBhwQ62GO_A"></iframe></div>
            <button type="button" class="btn btn-warning" id="choirBack">Back</button>
          </div>

          <div class="col-xs-12 col-md-6 rightSide" itemscope itemtype="http://schema.org/Review">
            <p class="testimonial" itemprop="itemReviewed" itemscope itemtype="http://schema.org/reviewBody"><strong>&quot;<span itemprop="name">Travis Cibolski</span> has been a dream to work with and has responded to each and every question and concern no matter how small.  Clear full range sound is now heard from every point in the room. I have to say the new <a href="http://www.yamahaproaudio.com/northamerica/en_us/applications/installedsound/cis/" target="_blank">Yamaha CIS</a> makes me almost as happy as being able to feature the American treasure of jazz for a few nights every week.”&quot;</strong><br>
          &#126; <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">Michael Gibbons</span></span>, Owner of <a href="http://www.jobarpdx.net/jazz/" target="_blank">Jo Rotisserie and Bar</a>, Portland, OR </p>
          </div>
          <div class="col-xs-12 col-md-6" id="choirVideo">
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NBhwQ62GO_A"></iframe>
            </div>
          </div>
        </div>
        <div class="row whiteRow">
          <div class="col-xs-12 col-sm-6 col-md-7">
            <h2> Sound, Video and Lighting Design </h2>
            <p>Our engineers use state of the art tools, software, and continuing education in media system design to deliver worry free professional quality.</p>
            <p class="testimonial service-content"><strong>&quot;I have worked with Clarity Media Group for 7 years.  They put a sound system in at our church 4 to 5 years ago and I loved working with them. They came in and out and finished so fast and they were very  professional.&quot;</strong><br>
          &#126; Daniel Brazovan, Technical Director Bethany Romanian Church</p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-5" itemscope itemtype="http://schema.org/Product">
            <img itemprop="image" class="equipment img-responsive" src="images/console.jpg" alt="digital console">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <h2> Installation </h2>
            <p>The installation crew, under the direction of the design consultant, will work carefully to install the new system according to specifications on time and on budget with as little interruption to the client&rsquo;s schedule as possible.</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <p class="testimonial rightSide"><strong>&quot;I fell in love with Yamaha products after Clarity Media Group installed a head-to-toe Yamaha/NEXO system in the Canoes Cabaret, our live music venue. Our Destinations Lounge system sounds amazing through the entire spectrum and has beautifully uniform coverage in every seat.&quot;</strong><br>&#126; Aaron Jackson, Audio Visual Technical Engineer, <a href="http://www.tulalipresortcasino.com/" target="_blank">Tualalip Casino, Washington</a></p>
          </div>
        </div>
        <div class="row whiteRow">
          <div class="col-xs-12 col-md-6">
            <h2> Training and Education </h2>
            <p>We provide on-site training for all equipment, including setup, operation, and basic troubleshooting.</p>

          </div>
          <div class="col-xs-12 col-md-6" itemscope itemtype="http://schema.org/Review">
              <p class="testimonial" itemprop="itemReviewed" itemscope itemtype="http://schema.org/reviewBody"><strong>&quot;I love working with Clarity Media. They are fast, and always ready to help with whatever problems you have.&quot;</strong><br>&#126;<span itemprop="author">Ben Sturgis, Sr. Audio Technician,</span> <a href="http://www.alamodome.com/" target="_blank" itemprop="author"><span itemprop="organization">Alamo Dome Sports and Entertainment Facilities, San Antonio, Texas</span></a></p>
          </div>
        </div>
          <div class="col-xs-12 col-md-6 service-content">
            <h2> Maintenance and Services </h2>
            <p>We stand behind our products and will provide service on all products we sell. Our fully trained technicians will assess the problem and repair it in a timely manner. Loaners will be available if necessary during the process.<br><br>Contact Clarity Media Group today to discuss your project needs.  We work on a range of projects from full stadium installs to tuneups on existant systems in intimate venues and are pleased to provide you with a complimentary consultation.</p>
            <button class="btn btn-default" data-toggle="modal" data-target="#clarityContactModal">Contact Clarity Media Group</button>



<!-- Modal -->
<div class="modal fade" id="clarityContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Thank you for your interest in Clarity Media Group!</h4>
        <p class="modal-title">  Please use this form to tell us about your project.  If you need immediate assistance, contact us by phone at 503.534.3710.</p>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</h4>
      </div>
      <div class="modal-body">
        <div id="wufoo-rpt7nvj038kxrs">
Fill out my <a href="https://wendycodes.wufoo.com/forms/rpt7nvj038kxrs">online form</a>.
</div>
<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Online contact and registration forms from <a href="http://www.wufoo.com">Wufoo</a>.</div>
<div id="wufoo-rpt7nvj038kxrs">
</div>
<script type="text/javascript">var rpt7nvj038kxrs;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'wendycodes',
'formHash':'rpt7nvj038kxrs',
'autoResize':false,
'height':'620',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { rpt7nvj038kxrs = new WufooForm();rpt7nvj038kxrs.initialize(options);rpt7nvj038kxrs.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>


      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>



          </div>
          <div class="col-xs-12 col-md-6">
            <img class="img-responsive equipment" src="images/alamoDomeInstall.jpg" alt="Install at the Alamo Dome">
          </div>
        </div>



<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/home.js"></script>
<script src="javascripts/jquery.flexslider.js"></script>
</body>
</html>
