* {
  font-family: 'Raleway', sans-serif;

}

.mobileJumbo {
  /*background-color: lightgray;*/
  margin-top: 0;
}

.noShowText {
  display: none;
}

.topLogo {
  width: 70%;
  display: block;
  margin: 0 auto;
  padding-left: 1em;
  padding-bottom: 2em;
  padding-top: 0;
}

.colorOne {
  background-color: white;
}
.colorTwo {
  background-color: #007399;
}

#colorTwo {
  color: white;
}

.btnLearn {
  background-color: #007399;
  color: white;
}
.colorThree {
  background-color: #b3ecff;
}
.mobileHomeNav .list-group-item {
  margin-bottom: .25em;
  border-radius: 5px;
  text-align: center;
  font-size: 1.25em;
}

#promo {
  padding: 1em;
  font-size: 1em;
  font-weight: 500;
}

#moreClarityInfo {
  padding: 1em;
  font-size: 1em;
  font-weight: 500;
}

#learnMoreButton {
  display: block;
  margin: 0 auto 1em auto;
}

#closeButton {
  display: block;
  margin: 0 auto 1em auto;
}

.mobileFeatureImage img {
  width: 100%;
  border-radius: 5px;
}

#blackCall {
  background-color: #002633;
  color: white;


}

.mobileHomeNav #address {
  font-size: 1em;
}

#phone {
  font-size: 1em;
}

.copyright {
  font-size: .75em;
  text-align: center;
  font-weight: 500;
}

/***************************/
/********media queries*****/
/***************************/

@media screen && (min-width: 768px) {



}
